h1{
    font-family: 'Josefin Slab', serif;
}

body{
  text-align: center;
  background-image: url("background2.jpg");

}

input{
  height: 400px;
  width: 400px;
  font-size: 12px;
}

li{
  list-style-type: none;
  list-style: none;
}

#all_my_notes{
  background-color: white;
  width: 500px;
  margin-left: 31%;
}

a{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

 a:link{ color: white;
text-decoration: none;}
a:visited{ color:white;
text-decoration: none; }
 a:hover{ color:white;
text-decoration: none;}
a:active{ color:white;
text-decoration: none;}
