body
{
font-size: 50px;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #68E3C1;
  text-align: center;
}

h1 {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 50px;
   text-align: center;
}

h2{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-align: center;

}
/* unvisited link */
li a:link{ color: white;
text-decoration: none;}
li a:visited{ color:white;
text-decoration: none; }
li a:hover{ color:white;
text-decoration: none;}
li a:active{ color:white;
text-decoration: none;}

li{
  list-style: none;
  padding-top: 20px;
}

#youtube{
  float: right;
  margin-left: 75%;
}

#netflix{
  float: left;
  margin-left: 75%;
}


#grubhub{
  float: left;
  margin-left: 75%;
}
