
h1{
  text-align: left;
  margin-left: 10%;
  font-family: Helvetica;
  font-size: 50px;
  color: #202833;
}

#information{
  background-color: black;
  opacity: 0.3;
  margin-left: 10%;
  font-family: Helvetica;
  color: white;
  font-size: 30px;
  width: 500px;
  padding: 20px;
  border-color: white;
  border-radius: 20px;

}
.hexagon{
  margin-left: 50%;
  margin-top: 60px;
}



.hexagon2{
  margin-left: 56%;
}



.hexagon3{
  margin-left: 49%;
}



.hexagon4{
  margin-left: 43%;
}



.hexagon5{
  margin-left: 49%;
}

body{
  background-color: #F0F4F7;
  margin-top: 20px;
}
